.image-card-indicator-root {
    margin-top: 0;
}

.image-card-indicator-root:not(:first-child) {
    margin-top: 20px;
}

.image-card-root {
    outline: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    text-decoration: none;
    color: rgb(193, 194, 197);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px, rgba(0, 0, 0, 0.05), 0 10px 15px -5px, rgba(0, 0, 0, 0.04) 0 7px 7px -5px;
    border: 1px solid rgb(55, 58, 64);
    position: relative;
    overflow: hidden;
    background-color:rgb(55, 58, 64);
    padding: 0;
}

.image-card-descriptor {
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.image-card-descriptor-avatar {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

.image-card-descriptor-avatar > * {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
}

.image-card-descriptor-avatar-image {
    margin-left: auto;
    user-select: none;
    text-decoration: none;
    border: 0;
    background-color: rgb(50, 50, 50)!important;
    padding: 0;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(0, 0, 0, 0.5) 0px 8px 15px -5px;
    transition: opacity 0.25s ease 0s;
    position: relative;
}

.image-card-descriptor-avatar-image::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 0px 1px inset;
}

.image-card-descriptor-panel {
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 6px;
    background: linear-gradient(45deg, rgba(37, 38, 43, 0.8) 0%, rgba(37, 38, 43, 0) 100%);
    backdrop-filter: blur(13px) saturate(160%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px -2px 6px 1px;
    padding: 10px;
}

.image-card-descriptor-panel-title {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.image-card-descriptor-panel-title-text {
    -webkit-tap-highlight-color: transparent;
    color: white;
    font-size: 20px;
    line-height: 1.55;
    text-decoration: none;
    font-weight: 600;
}

.image-card-descriptor-panel-info {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    gap: 0;
}

.image-card-descriptor-panel-info-score {
    -webkit-tap-highlight-color: transparent;
    font-size: 11px;
    height: 20px;
    line-height: 18px;
    text-decoration: none;
    padding: 0 5px 0 3px;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.25px;
    cursor: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid transparent;
    backdrop-filter: blur(7px);
    box-shadow: rgba(37, 38, 43, 0.2) 1px 2px 3px -1px;
    background: rgba(212, 212, 212, 0.2);
    color: white;
    user-select: none;
}

.image-card-descriptor-panel-info-action {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 4px;
    margin-left: auto;
    margin-top: 8px
}

.image-card-descriptor-panel-info-action > .image-card-descriptor-tag {
    -webkit-tap-highlight-color: transparent;
    font-size: 11px;
    height: 20px;
    line-height: 18px;
    text-decoration: none;
    padding: 0px 5px 0px 3px;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.25px;
    cursor: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid transparent;
    background: rgba(212, 212, 212, 0.2);
    color: white;
}

.image-card-descriptor-panel-info-action > .image-card-descriptor-tag .image-card-descriptor-tag-icon {
    margin-right: calc(5px);
    line-height: 1;
}

.image-card-descriptor-panel-info-action > .image-card-descriptor-tag .image-card-descriptor-tag-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}